/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/*general */
:root {
    --color-scondary: #ffffff;
    --color-primary: #23272a;
    --color-header-bg: #255ee9;
    --color-section-bg: #f6f6f6;
    --color-contrast: ■ #aebbe7;
}

.debug {
    border: 2px solid black;
}

body {
    background-color: var(--color-scondary);
    font font-family: "noto sans", sans-serif;
    color: var(--color-primary);
}


/* header */
header {
    background-color: var(--color-header-bg);
    color: var(--color-scondary);
    max-width: 100%;
}

#hero {
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
}

nav.d-flex a {
    color: var(--color-scondary);
    justify-content: center;
    padding: 1em;
    text-decoration: none;
}

/* main */
.section-bg {
    background-color: var(--color-section-bg);

}

.left img {
    width: 100%;
}

.left {
    width: 50%;

}

.right {
    width: 50%;
    padding-top: 3%;
}

/* footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-scondary);

}


/* Utility */
.container {
    min-width: 330px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.small-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.d-flex {
    display: flex;

}

.row-reverse {
    flex-direction: row-reverse;
}

.s-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
    align-content: center;
    /*se lo chiama solo se sono più righe in colonna*/
}

.btn-w{
    padding: 6px 12px;
    border-radius: 15px;
    color: var(--color-primary);

}